
body {
    font-family: 'Arial', sans-serif;
    background-color: #0073e6;
    margin: 0;
    padding: 20px;
    color: #fff;
    text-align: center;
    width: 300px;
    height: 400px;
  }
  
 
  #locationInput {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
    margin-top: 50%;
  }
  

  #searchButton {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 0px;
  }
  
  
  #weatherInfo {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
  

  .error-message {
    color: #ff6f61;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .separator {
    border-top: 1px solid #fff;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  